
body {
    background-color: lightblue;
    font-family: Arial, calligraphy, sans-serif;
    margin: 0;
    padding: 1rem;
}

h1 {
    font-size: 40px;
    color: darkblue;
    margin: 0 0 0.5rem 0;
}

h2 {
    font-size: 30px;
    color: green;
    margin: 0 0 0.75rem 0;
}

p {
    font-size: 18px;
    color: black;
    margin: 0 0 0.75rem 0;
}


.small {
    font-size: 14px;
    color: gray;
}
